.header {
  background-color: #3466a5;
  display: flex;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &__button {
    background-color: #595959;
    border: 1px solid #595959;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    padding: 4px 10px;

    &:hover {
      background-color: color(#595959 tint(20%));
    }
  }

  &__settings {
    margin-left: auto;

    @media (max-width: 480px) {
      display: block;
      background-color: rgba(35, 63, 105, 1);
    }
  }

  &__menu {
    display: flex;
  }
}
