$titleColor: #c0c0c0;

.pretty {
    .list {
        &__title {
            color: $titleColor;
            font-size: 20px;
        }

        &__list {

        }

        &__element {
            padding-left: 10px;
        }
    }
}