.pretty {
    &, body {
        width: 100%;
        height: 100%;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.4em;
        margin: 0 auto;
        cursor: default;
    }

    .app {
        &__list {
            position: fixed;
            left: 40px;
            bottom: 40px;
        }
    }
}