$linkColor: #c0c0c0;

.link {
    display: inline-block;
    background: #4f5455;
    padding: 0 7px;
    text-decoration: none;
    color: white;

    &_header {
        background-color: transparent;
        line-height: 24px;
        margin: 0 8px;
        font-weight: bold;
    }

    &_active,
    &:hover {
        background-color: #d2d7d0;
        color: #2e3336;
    }

    &:focus {
        background-color: #a62709;
        outline: none;
        color: white;

        &:hover {
            color: #e6ce00;
        }
    }
}